img {
    height: 300px;
    border: 8px, solid, black;
    padding: 16px;
}

h1 {
    font-family: helvetica;
}

p {
    font-family: helvetica;
    padding-left: 8px;
}

h2 {
    font-family: helvetica;
    padding-top: 16px;
}

li {
    font-family: helvetica;
}

#last{
    text-decoration: underline;
    font-weight: bold;
}

.info {
    color: blue;
}